/* styles.css */



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: white;
}

.team-member {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.team-member:hover {
    transform: scale(1.05);
}

.team-member img {
    width: 50%;
    height: auto;
    border-radius: 50%;
}

.team-member h3 {
    color: black;
}

.team-member p {
    color: #777;
}

.team-member-details {
    padding: 15px;
}

.team-member-details p {
    margin: 10px 0;
    color: #555;
}

/* Add more styles as needed */

